///*------------------------------------*\
//    #BUTTONS
//\*------------------------------------*/


.btn-submit{
	position: relative;
	float: left;
	height: 45px;
	line-height: 40px;
	width: 100px;
	color:$blue;
	font:{
		size:$fs-16px;
		family:$lato-font;
	}
	background-color:white;
	border:1px solid white;
	border-radius: 5px;
	margin-left:10px;
	@include transition(all 300ms ease);

	&:hover{
		color:white;
		background-color:transparent;
	}
}

.see-all{
	float: right;
	position: relative;
	margin-right: -5px;
	color:$orange;
	font:{
		size:$fs-16px;
		family:$aleo-regular;
	}
	.icon-arrow-right{
		color:$orange;
		font-size:$fs-20px;
		top:5px;
	}
}

.btn-orange{
	display: inline-block;
	width: 220px;
	line-height: 50px;
	text-align: center;
	color:white;
	background-color:$orange;
	border-radius: 5px;
	border:1px solid $orange;
	font:{
		size:$fs-18px;
		family:$lato-font;
	}
	@include transition(all 300ms ease);

	&:hover{
		color:$orange;
		background-color:white;
	}
}

.add-favorite{
	position: relative;
	color:$orange;
	font:{
		size:$fs-16px;
		family:$aleo-regular;
	}

	.icon-star{
		top:3px;
		margin-right: 5px;
	}

	&:before{
		content: '';
		position: absolute;
		left: 50%;
		bottom: -5px;
		height: 1px;
		width: 0;
		background-color:$orange;
		@include transition(all 300ms ease);
	}

	&:hover{
		&:before{width: 100%; left:0;}
	}

}



.aleo-reg-16{
	color:$orange;
	font:{
		size:$fs-16px;
		family:$aleo-regular;
	}
}












