///*------------------------------------*\
//    #CATALOGUE
//\*------------------------------------*/


.order-catalogue{
	position: relative;
	float: left;
	width: 100%;
	height: 150px;
	background-color: $blue;
	margin-bottom: 60px;
	text-align: center;
	overflow: hidden;
}

.order-catalogue--holder{
	@include vertical_align;
	h1{
		width: 100%;
		display: inline-block;
		font:{
			size:$fs-18px;
			family:$aleo-light;
		}
		color: white;
		margin-bottom: 30px;
	}

	ul{
		width: 760px;
		display: inline-block;
		text-align: center;
		margin: 0 auto;
	}

	li{
		float: left;
		margin-left:10px;

		 
		&:first-child{
			margin-left: 0;
		}
		&:nth-of-type(6){
			margin-left: 55px;
		}
		&:nth-of-type(6),
		&:nth-of-type(7){
			a{
			  	padding: 0px 6px;
					font-size: $fs-30px;
				.icon{
					top:4px;
				}
			}
		}
	}

	a{
		display: block;
		padding:10px 15px;
		color:white;
		border:2px solid white;
		border-radius: 5px;
		@include transition(all 300ms ease);
		&:hover{
			color:$blue;
			background-color: white;
		}
		font:{
			size:$fs-14px;
			family: $lato-font;
			weight: $regular;
		}
	}
	.active{
		color:$blue;
		background-color:white;
	}
}


/* ===== LISTAGEM ===== */




.table-course--titles{
	font:{
		size:$fs-16px;
		family:$aleo-regular;
	}
	color:$orange;
	margin-bottom: 20px;
}



.table-course--titles,
.table-course--list{
	position: relative;
	float: left;
	width: 100%;


	li{
		position: relative;
		float: left;
		padding:0px 10px;
		text-align: left;
		&:first-child{
			text-align: center;
		}
		&:nth-of-type(3){
			text-align: right;
		}

		&:first-child,
		&:nth-of-type(3){
			width: 70px;	
		}
		&:nth-of-type(2){
			width: 688px;
		}
		&:last-child{
			width: 110px;
		}
	}
}

.table-course--list{
	height: 60px;
	line-height: 60px;

	li{
		font:{
			size:$fs-18px;
			family:$aleo-regular;
		}
		color:$blue;
		&:nth-of-type(3){
			font:{
				size:$fs-14px;
				family:$lato-font;
				weight:$light;
			}
			text-align: center;
			color:$gray;
			border-right: 1px solid $med-gray;
		}

		&:first-child{
			border-right: 1px solid $med-gray;
		}
		&:first-child,
		&:last-child{
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$regular;
			}
		}
	}
}

.table-course--link{
	position: relative;
	border:1px solid $med-gray;
	border-radius: 10px;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 0px 2px 3px 1px $light-gray;
	@include transition(all 300ms ease);
	@include translateY(-1px);

	&:hover{
		@include translateY(1px);
		box-shadow: 0px 0px 2px 0px rgba($orange, 0.7);

	}

	&:first-child{
		border:none;
		box-shadow: none;
	}
	

	.promo-icon{
		width: 40px;
		right:5px;
		top:-4px;
	}

}

.promo-holder{

	.promo-holder--items{
		@include vertical_align;
	}

	span{
		text-decoration: line-through;
		float: left;
		width: 100%;
		line-height: 1;
		&:nth-child(2n+0){
			margin-top:5px;
		}
	}
	.promo-holder--items_price{
		color:$orange;
		text-decoration: none;
	}
}

 
 
 



/*


.table-course--list{
	position: relative;
	float: left;
	width: 100%;
	border: none;

	th, td{
		position: relative;
		padding:0px 10px;
		height: 60px;
		margin-bottom: 10px;
		text-align: left;
		&:first-child{
			text-align: center;
		}
		&:nth-of-type(3){
			text-align: right;
		}

		&:first-child,
		&:nth-of-type(3){
			width: 70px;	
		}
		&:nth-of-type(2){
			width: 690px;
		}
		&:last-child{
			width: 110px;
		}
	}

	tr{
		border:1px solid $med-gray;
		border-radius: 10px;
		float: left;
		width: 100%;
		margin-bottom: 10px;

		&:first-child{
			border:none;
			box-shadow: none;
		}
		box-shadow: 0px 2px 3px 1px $light-gray;
	}
	.promo-holder{
		span{
			text-decoration: line-through;
			float: left;
			width: 100%;
			&:nth-child(2n+0){
				margin-top:5px;
			}
		}
		.promo-holder--items_price{
			color:$orange;
			text-decoration: none;
		}
		.promo-icon{
			width: 40px;
			right:5px;	
		}
	}

	th{
		font:{
			size:$fs-16px;
			family:$aleo-regular;
		}
		color:$orange;
	}

	td{
		font:{
			size:$fs-18px;
			family:$aleo-regular;
		}
		color:$blue;
		&:nth-of-type(3){
			font:{
				size:$fs-14px;
				family:$lato-font;
				weight:$light;
			}
			text-align: center;
			color:$gray;
			border-right: 1px solid $med-gray;
		}

		&:first-child{
			border-right: 1px solid $med-gray;
		}
		&:first-child,
		&:last-child{
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$regular;
			}
		}
	}
}


*/


































