///*------------------------------------*\
//    #COURSE DETAILS
//\*------------------------------------*/

.course-details{
	position: relative;
	float:left;
	width: 100%;
	margin-top: -150px;
	background-color:white;
	padding: 0 30px 30px;
}


.course-header{
	position: relative;
	float: left;
	width: 100%;
	height: 150px;
	margin-bottom: 30px;

	div{
		@include vertical_align;
	}
}

.course-title{
	float: left;
	font:{
		size:$fs-24px;
		family:$aleo-regular;
	}
	color:$blue;
}

.course-favorite{
	float: right;
	a{
		float: right;
		clear: both;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}




/* HOLDER */ 


.course-detail--holder{
	position: relative;
	float: left;
	width: 615px;
	margin-right: 40px;
	
}

.course-detail--holder_box{
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 25px;
	padding-bottom: 25px;
	color:$gray;
	font-family:$lato-font;
	border-bottom:1px solid $light-gray;
	&:nth-last-of-type(1){
		border-bottom:none;
	}

	h2{
		font:{
			size:$fs-18px;
			weight:$regular;
		}
		width: 100%;
		float: left;
		margin-bottom: 5px;
	}
	p{
		width: 100%;
		float: left;
		margin-bottom: 5px;
		&:last-child{
			margin-bottom: 0;
		}
		line-height: 24px;
		font:{
			size:$fs-16px;
			weight:$light;
		}
		
	}

}


/* ASIDE */

.course-detail--aside{
	position: relative;
	float: right;
	width: 225px;
	
}

.course-detail--aside_box{

	float: left;
	width: 100%;
	margin-bottom: 10px;

	&:last-child{
		margin-bottom: 0;
	}

	h2{
		color:white;
		font:{
			size:$fs-16px;
			family:$aleo-regular;
		}
		float: left;
		background-color:$blue;
		padding: 15px;
		width: 100%;
		text-align: left;
	}

	ul{
		width: 100%;
		float: left;
		padding:15px;
		background-color: $footer-gray;
		

		li{
			width: 100%;
			float: left;
			font:{
				size:$fs-16px;
				family:$aleo-light;
			}
			color:$gray;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom:0;
			}

			.icon{
				float: left; 
				color:$blue;
				margin-right: 5px;
				top:-1px;
				font-size:$fs-18px;
			}

			p{
				float: left;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

	.photo-holder{
		
		li{
			height: 70px;
			img,
			p{@include vertical_align;}
			p{width: 120px;}
		}
	}
}

.photo-forma{
	width: 65px;
	float: left;
	margin-right:10px;
}


.course-sugestion--holder{
	margin-top:30px;
	ul{
		border:1px solid $footer-gray;
		border-top: none;
		padding:0;
	}
	
}


.promo-course{
	position: absolute;
	top:15px;
	left:-10px;
	width: 140px;
}

.promo-course--price{
	margin-right: 10px;
	font:{
		size:$fs-16px;
		weight:$light;
	}
	float: left;
	text-decoration: line-through;
}











