///*------------------------------------*\
//    #MAIN COURSE BOXES
//\*------------------------------------*/

.course-holder{
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	&:last-child{
		margin-bottom:0;
	}
}

.promo-icon{
	position: absolute;
	right:10px;
	top:-6px;
	width: 64px;
}



.course-holder--box{
	position: relative;
	float: left;
	width: 290px;
	min-height: 315px;
	margin-bottom:35px;
	margin-right:35px;
	border:1px solid $lighter-gray;
	border-radius: 5px;
	overflow: hidden;

	&:hover{
		.course-price{
			top:0;
		}
	}

	&:nth-of-type(3n+0){
		margin-right: 0;
	}

	.course-title{
		border-top:1px solid $lighter-gray;
		border-bottom:1px solid $lighter-gray;
		padding:10px;
		min-height: 100px;
		height: 100px;
		text-align: center;
		h1{
			@include vertical_align;
			color:$blue;
			line-height: 24px;
			font:{
				size:$fs-20px;
				family:$aleo-regular;
			}
		}
	}

	.course-price--holder{
		width: 100%;
		float: left;
		padding:10px;
		background-color: $blue;
		p{
			float: left;
			font:{
				size:$fs-16px;
				family:$lato-font;
			}
			color:white;
		}
		.course-price--discount{
			color:$lighter-gray;
			margin-right: 5px;
			text-decoration: line-through;
		}
		.course-date{
			float: right;
		}

	}

	.course-price{
		position: absolute;
		left:0;
		top: -200px;
		height: 175px;
		width: 100%;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		background-color: rgba($blue, 0.95);
		@include transition(all 300ms ease-In-Out);

		.add-favorite{
			float: left;
			position: relative;
			width: 100%;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background-color:white;
			border-right: 1px solid $gray;
			border-left: 1px solid $gray;
			@include transition(background-color 300ms ease-in-out);

			div{
				@include vertical_align;
				width: 100%;
				.icon-star{
					font-size:$fs-20px;
					top:4px;
				}
				span{
					color: $orange;
					font:{
						size:$fs-16px;
						family:$aleo-regular;
					}
					@include transition(color 300ms ease-in-out);
				}
			}
			&:hover{
				background-color: $orange;
				span{color:white;}
			}
		}
	

		.about-course{
			font-family:$aleo-light;
			text-align: center;
			line-height: 20px;
			padding:10px;
			color:white;
			float: left;
			width: 100%;
			height: 124px;
			a{
				@include vertical_align;
				display: block;
				color:white;
				@include transition(all 300ms ease);
				&:hover{
					color:$orange;
				}

			}
		}
	}

}



