///*------------------------------------*\
//    # FORMS
//\*------------------------------------*/



.register-holder--overlay{
	position: fixed;
	top:0;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 30;
	background: rgba($footer-gray, 0.8);
	@include opacity(0);
	@include scale(0);
	@include transition(all 300ms ease-In-Out);

	.register-form--holder{
		position: absolute;
		width: 650px;
		top:0;
		left:50%;
		margin-left: -325px;
		background-color: white;
		box-shadow: 0px 0px 20px -3px rgba(0,0,0, 0.5);

		@include transition(all 500ms ease-In-Out);
		@include trans-delay(250ms);
		@include scale(0);

		.close-popup{
			position: absolute;
			right:10px;
			top:10px;
			color:$gray;
			@include transition(all 300ms ease);

			&:hover{
				@include rotate(90deg);
				color:$orange;
			}
		}

		h1{
			float: left;
			width: 100%;
			text-align: center;
			color:$orange;
			font:{
				family:$aleo-regular;
				size:$fs-20px;
			}
			margin-bottom: 25px;
		}
		
		form{
			position: relative;
			width: 380px;
			margin: 0 auto 30px;
			padding:40px 0px;

			.input-holder{
				position: relative;
				float: left;
				margin-bottom: 15px;
				width: 100%;

				.icon{
					position: absolute;
					left: 15px;
					top:50%;
					margin-top: -8px;
				}

				.input-style{
					float: left;
					width: 100%;
					padding:15px 40px;
					text-align: left;
					width: 100%;
					border:1px solid $gray;
					border-radius: 5px;
					color:$gray;

					font:{
						family:$aleo-light;
						size:$fs-14px;
					}
				}
			}

			.checkbox-holder{
				width: 100%;
				text-align: center;
				float: left;
				margin-bottom: 30px;

				.check-box{
					margin-right: 5px;
					margin-top: 2px;
				}
				.checkbox-terms--text{
					color:$gray;
					font:{
						family:$lato-font;
						weight:$light;
						size:$fs-14px;
					}
					a{
						color:$gray;
						font-weight: $regular;
						text-decoration: underline;
					}
				}
			}

			::-webkit-input-placeholder {color:$gray;}
			:-o-placeholder {color:$gray;}
			::-moz-placeholder {color:$gray;}
			:-ms-input-placeholder {color:$gray;}
		}

	}

}

#register-form{

	.btn-orange{
		margin:0 auto;
		width: 120px;
		display: block;
	}
}




.fb-login{
	float: left;
	width: 100%;
	text-align: center;
	margin: 30px 0px;

	.other{
		float: left;
		width: 100%;
		margin-bottom: 35px;
		position: relative;
		color:$gray;
		font:{
			family:$aleo-regular;
			size:$fs-20px;
		}

		&:before,
		&:after{
			  content: '';
			  position: absolute;
			  top: 50%;
			  height: 1px;
			  width: 170px;
			  background-color: $lighter-gray;
		}
		&:before{left: 0;}
		&:after{right: 0;}
	}

	.fb-login--link{

		margin:0 auto;
		display: inline-block;
		line-height: 45px;
		background-color: #075479;
		color:white;
		border-radius: 5px;

		@include transition(all 300ms ease);
		&:hover{
			background-color: $orange; 
		}

		.icon{
			border-right: 1px solid white;
			width: 45px;
			padding:0;
			font-size:$fs-24px;
			float: left;
		}

		p{
			float: left;
			padding:0 20px;
			font:{
				family:$aleo-light;
				size:$fs-18px;
			}
		}
	}
}

.have-acc--box{
	position: relative;
	float: left;
	width: 100%;
	border-top: 1px solid $lighter-gray;
	text-align: center;
	padding:25px;
	font:{
		family:$lato-font;
		weight:$light;
		size:$fs-16px;
	}
	color:$gray;

	a{
		color:$orange;
		font-weight:$regular;
	}
}




.login-holder--overlay,
.cancel-course--overlay{
	@extend .register-holder--overlay;

	.login-form--holder,
	.cancel-box--holder{
		@extend .register-form--holder;
	}
}

.reset-password{
	color:$gray;
	font-weight: $light;
	text-decoration: underline;
	width: 100%;
	float: left;
	margin-bottom: 30px;
	text-align: center;
}

/* === */ 



.register-holder--overlay.overlay-in{
	@include scale(1);
	@include opacity(1);
}
.register-form--holder.form-in{
	@include scale(1);
	top:60px;
	bottom: inherit;
}








