///*------------------------------------*\
//    #TABLE
//\*------------------------------------*/


.table-holder{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 140px;

	tr{
		background-color:$footer-gray;
		text-align: left;
		color:$gray;
		&:first-child{
			color:white;
			background-color:$blue;
		}
		&:nth-of-type(5){
			td{
				border-top: 1px solid white;
				font-family: $aleo-regular;
			}
		}
		&:last-child{
			td{
				background-color:$orange;
				color:white;
				font-family: $aleo-bold;
			}
		}
	}

	tr{
		th:first-child,
		td:first-child{
			width: 305px;
		}
		th:nth-of-type(4),
		td:nth-of-type(4){
			width: 165px;
		}
	}

	th{
		padding:0px 15px;
		height: 60px;
		border-right: 1px solid white;
		background-color: $blue;
		color:white;
		font:{
			size:$fs-16px;
			family:$aleo-regular;
		}
	}
	td{
		padding:20px 15px;
		border-right: 1px solid white;
		background-color: $footer-gray;
		color:$gray;
		font:{
			size:$fs-14px;
			family:$aleo-light;
		}
		&:first-child{
			font:{
				family:$aleo-regular;
			}
			text-decoration: underline;
		}
	}

	.icon{
		float: left;
		margin-right: 10px;
		font-size: $fs-20px;
		@include vertical_align;
	}
	p{
		float: left;
		width: 60%;
	}
}








/* ACCOUT TABLES */


.acc-table{
	position: relative;
	float: left;
	width: 100%;
	border:1px solid $lighter-gray;
	border-radius:5px;
	border-collapse: separate;
	box-shadow: 0px 2px 3px 1px $lighter-gray;

	.blue-text{color:$blue;}
	.center-text{text-align: center;}
	.underline{text-decoration: underline;}

	th,
	td{
		text-align: left;
		padding:15px 10px;
	}

	tr{
		th{
			background-color:$orange;
			border-bottom: 1px solid $lighter-gray;
			font:{
				size:$fs-18px;
				family:$aleo-regular;
			}
			color:white;
		}	

		td{
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$light;
			}
			color:$gray;

			a{
				color:$orange;
				font:{
					size:$fs-16px;
					family:$aleo-regular;
				}
				.icon{top: 3px;}
			}

			&:nth-child(4){
				border-right: 1px solid $lighter-gray;
			}
			.icon-download{color:$orange;}
		}
		.in-sms{
			color:$blue;
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$regular;
			}
		}
	} 
	tr:nth-child(2){
		td{
			border-right: none;
			font:{
				size:$fs-14px;
				family:$lato-font;
				weight:$light;
			}
			color:$blue;
		}
	}

	tr:nth-child(2){ 
		td{
			border-bottom: 1px solid $lighter-gray;
		}
	}
	tr:last-child{
		td{
			border-top: 1px solid $lighter-gray;
		}
	}

	.saved-course{
		td{
			background-color: #f6f6f6;
			font:{
				size:$fs-14px;
				family: $aleo-regular;
			}
			color:$orange;
		}
	}

	.edit-table--links{
		td{
			padding:0 10px;
			position: relative;
  			top: -18px;
  			&:after{
  				content: '';
  				position: absolute;
  				top:18px;
  				right: 0;
  				width: 1px;
  				height: 100%;
  				background-color: $lighter-gray;
  			}
		}
		a{
			color:$blue;
			font:{
				size:$fs-12px;
				family:$lato-font;
				weight:$regular;
			}
		}
	}

	tfoot{
		tr,
		tr:last-child{
			td{
				border-top:none;
			}	
		}
		td{
			text-align: right;
		}
	}

}


.remove-table--border{
	tr,
	tr:nth-child(4),
	tr:last-child{
		td,
		td:nth-child(4){
			border-right: none;
			border-top: none;
		}

	}
}


.remove-border--right{border-right: none !important;}
.remove-border--top{border-top: none !important;}
.rem-after{&:after{display: none;}}





/* ================== PAY TABLE ==================  */



.pay-table{
	position: relative;
	float: left;
	width: 100%;

	thead{
		width: 100%;
		th{
			text-align: left;
			padding:15px 0px;
			&:last-child{
				text-align: right;
			}
		}
		h2{
			color:$lighter-blue;
		}
	}

	tbody{
		width: 100%;
		padding:15px 0;
		overflow: hidden;
		border-top: 1px solid $lighter-gray;
		border-bottom: 1px solid $lighter-gray;

		

		td{
			padding: 0px 0px 50px;
			&:last-child{
				vertical-align: top;
				text-align: right;
			}
		}
		tr:first-child{
			td{
				padding-top: 30px;
			}
		}


		div{
		
			float: left;
			width: 100%;
			font:{
				family:$aleo-regular;		
			}

			h3{
				color:$blue;
				float: left;
				width: 100%;
				margin-bottom: 10px;
			}
			h2,
			p{
				font:{
					size:$fs-16px;
					family:$aleo-light;
				}
				float: left;
				color:$blue;
				margin-left:30px;
				&:nth-of-type(1){
					margin-left: 0;
				}
			}
			h3{font-size:$fs-20px;}

			ul{
				margin-top: 10px;
				float: left;
				width: 100%;
				li{
					display: inline-block;
					margin-left:5px;
					&:first-child{
						margin-left: 0;

						a:before{
							display: none;
						}
					}
				}
			}

			a{
				float: left;
				position: relative;
				font:{
					size:$fs-14px;
					family:$lato-font;
					weight:$light;
				}
				color:$orange;
				&:hover{
					color:$blue;
					text-decoration: underline;
				}
				&:before{
					content: '|';
					position: relative;
					float: left;
					margin-right: 5px;

				}
			}

		}

		.total{
			float: right;
			width: 100%;
			text-align: right;
			h3{
				width: auto;
				float: none;
				display: inline-block;
				margin-left: 40px; 
				color:$orange;	
				&:first-child{
					margin-left: 0;
				}
				margin-bottom: 0;
			}
		}
		
	}
}



















