@charset "UTF-8";

@font-face {
  font-family: "icon-font";
  src:url("../fonts/icon-font/icon-font.eot");
  src:url("../fonts/icon-font/icon-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-font/icon-font.woff") format("woff"),
    url("../fonts/icon-font/icon-font.ttf") format("truetype"),
    url("../fonts/icon-font/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  position: relative;
  top: 0px;  
  margin: 0px;
  padding: 0px; 
  font-size: 1em;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: normal; 
  text-transform: none !important;
  -webkit-font-smoothing: antialiased; 
}

.icon-search:before {content: "a";}

.icon-arrow-right:before {content: "b";}
.icon-arrow-down:before {content: "c";}
.icon-arrow-left:before {content: "d";}
.icon-arrow-up:before {content: "e";}

.icon-facebook:before {content: "f";}
.icon-instagram:before {content: "g";}
.icon-pinterest:before {content: "h";}
.icon-linkedin:before {content: "i";}
