
@font-face {
    font-family: 'aleo-light-webfont';
    src: url('../fonts/Light/aleo-light-webfont.eot');
    src: url('../fonts/Light/aleo-light-webfont.eot') format('embedded-opentype'),
         url('../fonts/Light/aleo-light-webfont.woff2') format('woff2'),
         url('../fonts/Light/aleo-light-webfont.woff') format('woff'),
         url('../fonts/Light/aleo-light-webfont.ttf') format('truetype'),
         url('../fonts/Light/aleo-light-webfont.svg#aleo-light-webfont') format('svg');
}

@font-face {
    font-family: 'aleo-regular-webfont';
    src: url('../fonts/Regular/aleo-regular-webfont.eot');
    src: url('../fonts/Regular/aleo-regular-webfont.eot') format('embedded-opentype'),
         url('../fonts/Regular/aleo-regular-webfont.woff2') format('woff2'),
         url('../fonts/Regular/aleo-regular-webfont.woff') format('woff'),
         url('../fonts/Regular/aleo-regular-webfont.ttf') format('truetype'),
         url('../fonts/Regular/aleo-regular-webfont.svg#aleo-regular-webfont') format('svg');
}

@font-face {
    font-family: 'aleo-bold-webfont';
    src: url('../fonts/Bold/aleo-bold-webfont.eot');
    src: url('../fonts/Bold/aleo-bold-webfont.eot') format('embedded-opentype'),
         url('../fonts/Bold/aleo-bold-webfont.woff2') format('woff2'),
         url('../fonts/Bold/aleo-bold-webfont.woff') format('woff'),
         url('../fonts/Bold/aleo-bold-webfont.ttf') format('truetype'),
         url('../fonts/Bold/aleo-bold-webfont.svg#aleo-bold-webfont') format('svg');
}