@charset "UTF-8";

@font-face {
  font-family: "icon-font";
  src:url("../fonts/icon-font/icon-font.eot");
  src:url("../fonts/icon-font/icon-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-font/icon-font.woff") format("woff"),
    url("../fonts/icon-font/icon-font.ttf") format("truetype"),
    url("../fonts/icon-font/icon-font.svg#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  position: relative;
  top: 2px;  
  margin: 0px;
  padding: 0px; 
  font-size: 1em;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: normal; 
  text-transform: none !important;
  -webkit-font-smoothing: antialiased; 
}

.icon-search:before {
  content: "a";
}
.icon-arrow-right:before {
  content: "b";
}
.icon-arrow-down:before {
  content: "c";
}
.icon-arrow-left:before {
  content: "d";
}
.icon-arrow-up:before {
  content: "e";
}
.icon-facebook:before {
  content: "f";
}
.icon-instagram:before {
  content: "g";
}
.icon-pinterest:before {
  content: "h";
}
.icon-linkedin:before {
  content: "i";
}
.icon-star:before {
  content: "k";
}
.icon-mail-1:before {
  content: "l";
}
.icon-mail-2:before {
  content: "m";
}
.icon-list-1:before {
  content: "o";
}
.icon-grid-1:before {
  content: "p";
}
.icon-lessons:before {
  content: "q";
}
.icon-time:before {
  content: "r";
}
.icon-mod:before {
  content: "s";
}
.icon-type:before {
  content: "t";
}
.icon-price:before {
  content: "u";
}
.icon-date:before {
  content: "v";
}
.icon-mailer:before {
  content: "j";
}
.icon-marker:before {
  content: "n";
}
.icon-phone:before {
  content: "w";
}
.icon-printer:before {
  content: "x";
}
.icon-close-1:before {
  content: "y";
}
.icon-close-2:before {
  content: "z";
}
.icon-username:before {
  content: "A";
}
.icon-password:before {
  content: "B";
}
.icon-download:before {
  content: "C";
}
.icon-info:before {
  content: "D";
}
.icon-photo:before {
  content: "E";
}
.icon-info-1:before {
  content: "F";
}
.icon-download-1:before {
  content: "G";
}
.icon-all:before {
  content: "H";
}
.icon-attach:before {
  content: "I";
}
.icon-less-2:before {
  content: "J";
}
.icon-disqus:before {
  content: "K";
}
.icon-photo-1:before {
  content: "L";
}
.icon-reply:before {
  content: "M";
}
.icon-test:before {
  content: "N";
}
.icon-doc:before {
  content: "O";
}
.icon-check:before {
  content: "P";
}
