<footer class="footer">
  <main class="main">
    <ul>
      <li>
        <h1>Áreas de Formação</h1>
          <ul>
              {#sections}
                {>"sections/_section_link" idx=$idx/}                
              {/sections}
          </ul>
      </li>
      <li class="border">
        <h1>Informações Gerais</h1>
          <ul>
            <li><a href="/courses">Catálogo de Cursos</a></li>
            <li><a href="/static_pages/faqs">Perguntas Frequentes</a></li>
            <li><a href="#">Condições de Serviço</a></li>
            <li><a href="/static_pages/contacts">Contactos</a></li>
            <li><a href="/static_pages/partners">Parcerias</a></li>
          </ul>
      </li>
      <li>
        <h1>Siga-nos</h1>
        <ul>
          <li><a href="#"><span class="icon icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon icon-instagram"></span></a></li>
          <li><a href="#"><span class="icon icon-pinterest"></span></a></li>
          <li><a href="#"><span class="icon icon-linkedin"></span></a></li>
        </ul>
        <h1>Subscreva a nossa newsletter</h1>

          <form class="newsletter-form" action="#" method="POST">
            <span class="icon icon-mail-2"></span>
            <input class="input-style" type="email" name="email" placeholder="Indique o seu email">
             <button type="submit">
                <span class="icon icon-arrow-right"></span>
            </button>
          </form>
      </li>
    </ul>
  </main>
</footer>