<header class="header">  
  <div class="main">
          
    <a class="logo" href="/"><img src="../img/icons/logo.png" alt="Logo Evolui"></a>

    <nav class="log-nav">
      <ul>
        <li><a href="#" id="login-btn">Iniciar Sessão</a></li>
        <li><a href="#" id="register-btn">Registe-se</a></li>
      </ul>
    </nav>

    <a class="show-search--box" href="#"> <img class="icon-search1" src="../img/icons/search-icon.png" alt="ícon pesquisar"> </a>

    <nav class="main-nav">
      <ul>
        <li class="drop-down"><a class="drop-down--btn" href="#">Cursos</a></li>
        <li><a class="link-especializacoes" href="/specializations">Especializações</a></li>
      </ul>
    </nav>
    
    <div class="drop-down--menu">
      <div class="menu-wrap clearfix">
        <h1>Áreas de Formação</h1>

          <ul>
              {#sections}
                {>"sections/_section_link" idx=$idx/}
              {/sections}
          </ul>
      </div>
      
    </div>
    
  </div>
</header>
