<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--FACEBOOK META -->
    <meta property="og:title" content="evolui">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.evolui.html">
    <meta property="og:site_name" content="evolui">

    <title>Evolui</title>
    <meta property="og:description" content=" ">
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">

    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/main.css" />

    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script><style type="text/css"></style>
    <script src="../js/app.js"></script>

    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
      .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
      }

      .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
      }
    </style>

  </head>
  <body>
    <section class="{+section-page /}">

      {>"layouts/_header" /}

      <div class="wrapper">
        {+content /}
      </div>

      {>"layouts/_footer" /}

    </section>
  </body>
</html>
