/* Variables */

$aleo-light: 'aleo-light-webfont';
$aleo-regular: 'aleo-regular-webfont';
$aleo-bold: 'aleo-bold-webfont';

$lato-font: 'Lato', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;

$gray: #707070;
$light-gray: #dddddd;
$med-gray: #dfdfdf;
$lighter-gray: #cccccc;
$footer-gray: #f2f2f2;

$blue: #12445d;
$lighter-blue: #075479;
$orange: #ff7031;
$light-orange: #ffd4bc;

$fs-12px: 12px;
$fs-14px: 14px;
$fs-15px: 15px;
$fs-16px: 16px;
$fs-18px: 18px;
$fs-20px: 20px;
$fs-22px: 22px;
$fs-24px: 24px;
$fs-26px: 26px;
$fs-30px: 30px;
$fs-60px: 60px;

.remove-padding{
	padding:0 !important;
}