///*------------------------------------*\
//    #PAGE - BASE
//\*------------------------------------*/

html {
  height: 100%;
}

body {
	width:100%; 
	height: 100%;
	font:{
		family: $lato-font;
		weight: $regular;
	}

}





img{width:100%;}

a{cursor: pointer;}

.hidden{
	visibility: hidden;
}
 
*:focus{outline:0;}
*{@include box-sizing;}

input[type=text], input {border: none; border-style:none; border-radius: 0; outline: none;}
input[type="submit"], input[type="button"] {-webkit-appearance: none; padding:0;}

input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

::-webkit-input-placeholder {color:white;}
:-o-placeholder {color:white;}
::-moz-placeholder {color:white;}
:-ms-input-placeholder {color:white;}
input::-moz-focus-inner{ padding: 0; }


.main{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.sec-main{
	position: relative;
	width:1265px;
	margin: 0 auto;
}

.wrapper{
	float: left;
	width: 100%;
	margin-top:90px;
}


.main-content--title{
	font:{
		size:$fs-22px;
		family:$aleo-bold;
	}
	color:$blue;
	width: 100%;
	text-align: left;
	float: left;
	margin-bottom: 20px;
}


.intro-text{
	float: left;
	position: relative;
	width: 100%;
	text-align: center;
	font:{
		size:$fs-18px;
		family: $aleo-regular;
	}
	line-height: 22px;
	margin-bottom: 60px;
	color:$gray;
}





.join-us{
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	background-color:$med-gray;
	margin-top:50px;
	padding:50px;

	.join-title{
		position: relative;
		color:white;
		width: 100%;
		float: left;
		margin-bottom: 45px;
		font:{
			size:$fs-30px;
			family:$lato-font;
		}
		z-index: 1;
		// &:before{
		// 	content: '';
		// 	position: absolute;
		// 	top: 30px;
		// 	left: 50%;
		// 	margin-left: -150px;
		// 	width: 300px;
		// 	height: 0;
		// 	box-shadow: 0 0 160px 40px rgba(0, 0, 0, 0.4);
		// 	z-index: -1;
		// }
	}

	div{
		position: relative;
		margin: 40px auto 0;
		display: inline-block;
		color:$orange;
		font:{
			family:$lato-font;
			size:$fs-16px;
		}
		.join-us--btn{
			font-size:$fs-18px;
			display: inline-block;	
			color:white;
			background-color:$orange;
			line-height: 50px;
			width: 130px;
			border-radius:5px;
			margin-bottom: 5px;
			@include transition(all 300ms ease);

			&:hover{
				background-color:white;
				color:$orange;
			}
		}
		span{
			display: inline-block;
			width: 100%;
		}
	}

	.join-us--holder{
		width: 100%;
		float: left;

		li{
			float: left;
			width: 20%;
			margin:0 2.5%;

			img{
				width: 135px;
				margin:0 auto 20px;
			}
			h1{
				position: relative;
				width: 100%;
				float: left;
				color:$blue;
				font:{
					size:$fs-20px;
					family:$aleo-bold;
				}
				margin-bottom: 10px;
			}
			p{
				color:$blue;
				font:{
					size:$fs-16px;
					family:$lato-font;
					weight:$regular;
				}
			}
		}

	}

}



















