///*------------------------------------*\
//    # MIX OF ALL 
//\*------------------------------------*/

/* Home page */

.home-page{

	.banner{
		background-image: url('../img/banners/home-banner.jpg');
		height: 420px;
	}



	.main-nav{
		margin-right: 100px;
	}

	.show-search--box{
		display: none;
	}

	.search-engine{
		position: relative;
		float: left;
		top:inherit;
		left:inherit;
	}
	
	.main{
		width: 1265px;
		.course-holder--box{
			
			&:nth-of-type(3n+0){
				margin-right: 35px;
			}
			&:nth-of-type(4n+0){
				margin-right: 0;
			}
		}
		.see-all{clear: left;}
	}
}

/* ===================== */


/* Catalogo page */

.catalogue-page{
	.main{
		width:1265px;
	}

	header,
	.footer{
		.main{
			width: 940px;
		}
	}

	.course-holder--box{

		&:nth-of-type(3n+0){
			margin-right: 35px;
		}
		&:nth-of-type(4n+0){
			margin-right: 0;
		}
	}

	.link-catalogo{
		color:$blue;
		background-color: white;
	}

}

.catalogo-listagem{

	.link-cat-listagem{
		color:$blue;
		background-color: white;
	}

}
		


/* ===================== */



/* Especializações page */

.especializacoes-page{

	.banner{
		background-image: url('../img/banners/especializacoes-banner.jpg');
		height: 270px;
	}

	.link-especializacoes{
		color:$orange;
	}

	.course-holder{
		.course-price{
			p{
				text-align: center;
				float: none;
			}
		}
	}

}


/* ===================== */


/* Gestão comercial page */

.gestao-comercial-page{
	.banner{
		background-image: url('../img/banners/gestao-comercial-banner.jpg');
		height: 270px;
	}
}

/* ===================== */


/* Detalhe Curso */

.details-page{
	.banner{
		background-image: url('../img/banners/detalhe-banner.jpg');
		height: 420px;
		margin-bottom: 0;
	}
}

/* ===================== */

.details-forma-page{

	overflow: hidden;	
	background-color:$footer-gray;

	// .main{
	// 	width: 980px;
	// }
	
	.course-details{
		margin-top: 0;
	}

	.course-header{
		height: 110px;
		margin-top: 75px;
	}

	.course-detail--holder{
		h1{
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$regular;
			}
			float: left;
			width: 100%;
			margin-bottom: 30px;
			color:$gray;
		}
	}

	.course-detail--holder_box{
		border:none;
		padding-bottom: 0;
		margin-bottom: 35px;

	}

	.course-title{
		width: 100%;
		float: left;
		height: 110px;
		hgroup{
			float: left;
			@include vertical_align;
		}
		h2{
			float: left;
			font:{
				size:$fs-20px;
				family:$aleo-light;
			}
		}
	}
	.photo-forma{
		width: 107px;
		@include vertical_align;
	}

	.course-detail--aside_box{
		font:{
			size:$fs-16px;
			family:$aleo-regular;
		}
		h3{
			font:{
				family:$aleo-regular;
			}
			float: left;
			width: 100%;
		}
		p{
			font:{
				family:$aleo-light;
			}
			float: left;
			width: 100%;
			margin-bottom: 0;
		}
	}

	footer{
		margin-top: 0;
	}
}

/* ===================== */



.regulamento-page{
	background-color:$footer-gray;
	overflow: hidden;

	.main-nav{
		margin-right: 100px;
	}

	.show-search--box{
		display: none;
	}

	.course-holder{
		padding:60px 30px 80px;
		background-color: white;

		hgroup{
			margin-top:30px;
			float: left;
			width: 100%;
				h1{
					font:{
						size:$fs-18px;
						family:$lato-font;
						weight:$regular;
					}
					color:$blue;
					margin-bottom: 30px;
				}
				p{
					margin-top:30px;
					font:{
						size:$fs-16px;
						family:$lato-font;
						weight:$light;
					}
					color:$gray;
					line-height: 24px;
				}
				ul{
					float: left;
					width: 100%;
					margin-top: 35px;
					li{
						float: left; 
						width: 100%;
						p{
							margin-top: 0;
						}
					}
				}

			&:first-child{
				
				margin-top:0px;

				h1{
					font:{
						size:$fs-24px;
						family:$lato-font;
						weight:$regular;
					}
				}
				p{
					font:{
						size:$fs-18px;
						weight:$regular;
					}
				}
			}	
		}
	}	
			
	
	footer{
		margin-top: 0;
	}
	
	
}



/* ===================== */



.pesquisa-page{
	// .main-nav{
	// 	margin-right: 100px;
	// }

	// .show-search--box{
	// 	display: none;
	// }
	footer{
		margin-top: 260px;
	}
}


/* ===================== */

.qualidade-ambiente-page{
	
	.banner{
		background-image: url('../img/banners/qualidade-ambiental-banner.jpg');
		height: 420px;
		margin-bottom: 0;
	}

	.course-detail--holder{
		width: 100%;
		.course-detail--holder_box:nth-of-type(2){
			border:none;
		}
	}

	.promo-course{
		top: 10px;
	}

	.course-title{
		h2{
			margin-top:10px;
			float: left;
			font:{
				size:$fs-20px;
				family:$aleo-light;
			}
			span{
				color:$orange;
				text-decoration: line-through;
				float: left;
				margin-right: 10px;
			}
		}
	}

}


/* ===================== */

.parceiros-page{
	.banner{
		background-image: url('../img/banners/parceiros-banner.jpg');
		height: 420px;
		margin-bottom: 0;
	}
}

.parceiros-page,
.contactos-page{

	

	.course-title{
		float: none;
		margin: 0 auto;
		p{
			width: 815px;
			margin: 0 auto;
			text-align: center;
			color:$gray;
			font:{
				size: $fs-18px;
				family: $aleo-regular;
			}
			line-height: 24px;
		}
	}

	.logos-parceiros{
		float: left;
		width: 100%;
		padding:40px 0px;
		border-top:1px solid $lighter-gray;
		border-bottom: 1px solid $lighter-gray;
		text-align: center;

		li{
			float: left;
			height: 200px;
			min-height: 200px;
			width: 19%;
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid $lighter-gray;
			&:last-child{
				margin-right: 0;
				padding-right: 0;
				border:none;
			}
		}

		.vertical-align{
			
			float: left;
			width: 100%;
			padding:10px 0 0;
			min-height: 120px;
			margin-bottom: 10px;
			
			img{
				width: auto;
				margin:0 auto 10px;
			}
		}
		p{
			@include vertical_align;
			display: inline-block;
			color:$gray;
			font:{
				size:$fs-14px;
				family:$lato-font;
				weight:$regular;
			}
		}
	}

	.nome-parceiros{
		float: left;
		width: 100%;
		margin-top:50px;

		h1{
			color:$blue;
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$regular;
			}
			text-align: center;
			width: 100%;
		}

		ul{
			float: left;
			width: 100%;
			margin-top: 30px;
			li{
				float: left;
				padding:0 30px;
				width: 48%;
				margin-right: 4%;
				&:last-child{
					margin-right: 0;
				}
				div{
					float: left;
					margin-bottom: 30px;
					&:last-child{margin-bottom: 0;}
					h1{
						color:$gray;
						margin-bottom: 5px;
					}
					p{
						font-weight: $light;
						color:$gray;
						margin-bottom: 5px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	.nome-parceiros.curto{
		li{
			width: 100%;
			text-align: center;
			div{
				width: 100%;
			}
		}
	}

}



/* ===================== */


.contactos-page{

	.banner{
		background-image: url('../img/banners/contactos-banner.jpg');
		height: 420px;
		margin-bottom: 0;
	}

}


.contacts-list{
	position: relative;
	float: left;
	width: 100%;

	li{
		float: left;
		width: 30%;
		margin-right: 5%;
		&:last-child{
			margin-right: 0;
		}
	}
	.contacts-list--holder{
		float: left;
		width: 100%;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
		.icon{
			color:$orange;
			font-size:$fs-30px;
			float: left;
			margin-right: 10px;
		}
		hgroup{
			float: left;
			color:$gray;
			font:{
				family:$lato-font;
				weight:$regular;
				size:$fs-16px;
			}
			h1{
				color:$orange;
				float: left;
				clear: left;
				margin-bottom: 5px;
			}
			h2{
				float: left;
				clear: left;
			}
			p{
				margin-top:5px;
				float: left;
				clear: left;
				font:{
					size:$fs-14px;
					weight:$light;
				}

			}
		}
	}
}



/* ===================== */

.faqs-page{

	background-color:$footer-gray;
	overflow: hidden;
	
	.main-nav{
		margin-right: 100px;
	}

	.show-search--box{
		display: none;
	}


	footer{
		margin-top: 0;
	}
	.course-holder{
		padding:60px 30px 80px;
		background-color: white;
	}

	.course-title{
		margin-bottom: 40px;
	}
}

.faqs-holder{
	float: left;
	width: 100%;
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 0;
	}
}

.faqs-title{
	float: left;
	width: 100%;
	color:$orange;
	font:{
		size:$fs-20px;
		family:$lato-font;
	}
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom:1px solid $lighter-gray;
}

.faqs-holder--list{
	float: left;
	width: 100%;

	li{
		float: left;
		width: 48%;
		margin-right: 4%;
		&:last-child{
			margin-bottom: 0;
			margin-right: 0;
		}
	}

	.half-50{
		width: 50%;
	}
}

.accordion{
	position: relative; 
	width:100%; 
	float:left;
	margin-bottom: 10px;
	&:last-child{
		margin-bottom: 0;
	}
	dt{
		position: relative; 
		width:100%;
		float: left;
		text-align: left; 
		@include transition (all 300ms ease);
		a{
			display: block;
			float: left;
			width: 100%;

			.icon{
				color:$orange;
				float: left;
				margin-top: 3px;
				margin-right: 10px;
				font-size:$fs-20px;
				@include transition(all 300ms ease-In-Out);
			}

			h1{
				line-height: 30px;
				color:$gray;
				position: relative;
				font:{
					family:$lato-font;
					size:$fs-16px;
				}
				@include transition(all 300ms ease-In-Out);
			}

			&:hover{ 
				.icon{
					color:$blue;
				}
			}
			// .toggle-plus-before, 
			// .toggle-plus-after{
			// 	position: absolute; 
			// 	right:40px; 
			// 	top:35px; 
			// 	background-color:$gray; 
			// 	@include transition(all 300ms ease);}
			
			// .toggle-plus-before{top:45px; width:28px; height: 8px;}
			// .toggle-plus-after{right: 50px; height:28px; width:8px;}
			// .flipAfter{@include rotate(rotate(450deg));}
			// .flipBefore{@include rotate(rotate(360deg));}
		}

	}
	dd{
		overflow:hidden;
		float: left;
		margin-top:10px;
		
		p{
			margin-bottom:10px;
			color:$gray;
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$light;
			}
			&:last-child{margin-bottom: 0;}
		}
	}

	.flipAfter{@include rotate(450deg);}
	.activeDD{ 
		.icon{
			color:$blue;
		}
	}
}


/* ===================== */



.my-acc-page{

	.search-engine.expand-search{
		top:90px;
	}

	.course-header{
		height: auto;
		margin:40px 0;
		div{
			top:0%;
			-webkit-transform: translateY(0%);
			-ms-transform: translateY(0%);
			transform: translateY(0%);	
		}
	}

	.course-details{
		margin-top: 0;
	}

	.course-sugestion--holder{
		margin-top: 0;
	}

	.course-detail--holder_box{
		border-bottom: none;
	}

	.course-detail--aside_box{
		li{
			.manage-favorite{
				float: left;
				width: 100%;
				padding: 15px;
				color:$blue;
				background-color:$footer-gray;
				text-align: right;
				font:{
					size:$fs-14px;
					family:$lato-font;
					weight:$light;
				}
				text-decoration: underline;
				&:hover{
					color:$orange;
				}
			}

			h2{
				color:$blue;
				float: left;
				width: 100%;
				padding:15px;
				background-color: white;
				font:{
					size:$fs-20px;
					family:$aleo-regular;
				}
			}
			div{
				float: left;
				width: 100%;
				padding:15px;
				span{
					color:$blue;
					font:{
						size:$fs-16px;
						family:$lato-font;
						weight:$regular;
					}
					&:first-child{float: left}
					&:last-child{float: right;}
				}

				&:last-child{
					text-align: right;
					background-color: white;
					a{
						float: right;
						&:hover{
							.icon{@include rotate(360deg);margin-left:10px;}

						}
					}
					.icon{
						top:2px;
						float: right; 
						margin-left: 5px; 
						color:$orange;
						@include transition(all 300ms ease);
						
					}
				}
			}
		}
	}
}

.account-details{


	.course-title{
		color:$orange;
		width: 100%;
		float: left;
		font:{
			size:$fs-20px;
		}
		border-bottom: 1px solid $gray;
		h1{
			float: left;
			position: relative;
			padding-bottom: 20px;

			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom:-1px;
				height: 4px;
				width: 100%;
				background-color: $orange;
			}
		}
	}
}

.notice-box{
	position: relative;
	float: left;
	width: 100%;
	padding:0 15px;
	margin-bottom: 30px;
	line-height: 60px;
	background-color: $light-orange;
	border:1px solid $orange;
	border-radius: 5px;
	
	.icon{margin-right: 10px;}
	.icon,
	p{
		float: left;
		color:$orange;
		margin-right: 10px;
	}
	p{
		font:{
			size:$fs-16px;
			family:$aleo-regular;
		}
	}
}


/* ===================== */

.forum-page{

	overflow: hidden;
	background-color: $footer-gray;

	.search-engine.expand-search{
		top:90px;
	}

	.course-detail--holder{width: 570px;}
	.course-detail--aside{width: 270px;}

	.course-details{
		margin-top: 0;
		background-color:transparent;
	}

	.course-detail--aside_box{
		ul{
			background-color: white;
		}

		.icon{
			width: 20px;
			margin-right: 5px;
		}

		li:last-child{
			.filter-holder{
				border-bottom:none;
			}
		}


		.filter-holder{
			float: left;
			padding:15px;
			border-bottom: 1px solid $lighter-gray;
			width: 100%;
			@include transition(all 300ms ease);
			box-shadow:0px 0px 0px 0px $gray;
			&:hover{
				box-shadow: 0px 5px 15px -5px $gray;
				@include translateY(-2px);
			}

			.icon{
				float: left;
				margin-right: 10px;
				top:1px;
				color:$blue;
				width: 20px;
			}

			hgroup{
				float: left;
				width: 100px;
				h1, 
				h2{
					float: left; 
					width: 100%; 
					padding:0;
					background-color:transparent;
				}
				h1{
					color:$blue;
					font:{
						size:$fs-20px;
						family: $aleo-regular;
					}
				}
				h2{
					color:$gray;
					font:{
						size:$fs-18px;
						family: $aleo-light;
					}
				}
			}

			p{
				float: right;
				color:$gray;
				font:{
					size:$fs-20px;
					family:$aleo-light;
				}
			}
		}

		.filter-holder.active{ 
			.icon,
			h1{color:$orange;}
			p{font-family:$aleo-regular;}
		}

		.doc-list{
			a{
				float: left;
				width: 100%;
				
				.icon{
					float: left;
					color:$orange;
					margin-right: 10px;
					@include transition(all 300ms ease);
				}
				p{
					float: left;
					color:$gray;
					font:{
						size:$fs-16px;
						family:$aleo-light;
					}
				}

				&:hover{
					.icon{margin-right: 5px;}
				}
			}
		}
	}

	.filters-box{
		ul{
			padding:0;
		}
		li{
			margin-bottom: 0;
		}
	}

	.active-aside--box{
		h2{background-color: $orange;}
		.icon{color:$orange;}

		.notifications{
			font:{
				size:$fs-14px;
				family:$aleo-light;
			}
		}
	}


	.course-title{
		h1{
			margin-bottom: 15px;
		}
		ul{
			width: 100%;
			float: left;
			li{
				float: left;
				margin-right: 20px;
				&:last-child{
					margin-right: 0;
				}
				color:$gray;
				.icon{
					display: inline-block;
					font-size:$fs-20px;
					margin-right: 10px;
				}
				p{
					display: inline-block;
					font:{
						size:$fs-16px;
						family:$aleo-light;
					}
				}
			}
		}
	}

	.course-favorite{
		height: 65px;

		hgroup{
			float: left;
			@include vertical_align;
			font-size:$fs-16px;
			color:$gray;
			text-align: right;
			h1{font-family:$aleo-regular;}
			h2{font-family:$aleo-light;}
		}
		.photo-forma{
			margin-right: 0;
			margin-left: 10px;
		}
	}

}


.forum-holder--post{
	float: left;
	position: relative;
	width: 100%;
	padding:25px;
	border:1px solid $lighter-gray;
	border-radius: 5px;
	margin-bottom: 30px;
	background-color: white;
	@include box-shadow(0px 2px 3px 1px $light-gray);

	&:nth-last-child(1){
		margin-bottom: 0;
	}

	.forum-holder--title{
		color:$orange;
		float: left;
		width: 100%;
		margin-bottom: 15px;
		font:{
			size:$fs-20px;
			family:$aleo-regular;
		}
	}

	.input-holder{
		float: left;
		padding:15px;
		width: 100%;
		background-color: $footer-gray;
		margin-bottom: 20px;
		border:none;
		color:$gray;

		font:{
			size:$fs-16px;
			family:$lato-font;
			weight:$light;
		}
	}

	::-webkit-input-placeholder { color: $gray; }
	:-moz-placeholder { color: $gray; }
	::-moz-placeholder { color: $gray; }
	:-ms-input-placeholder {  color: $gray; }

	.btn-orange{
		width: 110px;
		float: right;
		clear: both;
	}

	.attachment-holder{
		float: right;
		text-align: right;
		padding:4px 14px;
		border:1px solid $lighter-gray;
		margin-bottom: 15px;
		border-radius:5px;
		cursor: pointer;
		@include transition(all 300ms ease);
		@include trans-delay(100ms);

		&:hover{
			color:$orange;
			.icon-attach{
				@include rotate(90deg);
				color:$orange;
			}
		}

		.input-attachment{
			display: none;
		}
		.icon-attach{
			float: left;
			top:1px;
			color:$gray;
			@include transition(all 300ms ease);
		}
	}
}

.post-icon{
	position: absolute;
	right: 20px;
	top:-6px;
	z-index: 1;
	width: 60px;
}


.topic-title{
	position: relative;
	float: left;
	width: 100%;
	padding:0 25px;
	margin: 15px 0 20px;

	.copy-letter{
		width: 42px;
		float: left;
		margin-right: 20px;
	}

	hgroup{
		float: left;
		width: 400px;
		
		.forum-holder--title{
			margin-bottom: 5px;
			width: auto;

			span{
				color:$gray;
				font:{
					size:$fs-18px;
					family:$lato-font;
				}
			}
		}
		h2{
			float: left;
			clear: left;
			font:{
				size:$fs-14px;
				family:$lato-font;
				weight:$light;
			}
			color:$gray;
		}
		.user-acc{
			float: right;
			margin-left: 10px;
			padding:2px 10px;
			border-radius: 5px;
			background-color:$blue;
			text-transform: uppercase;
			color:white;
			font:{
				size:$fs-12px;
				family:$lato-font;
				weight:$regular;
			}
		}
	}
}

.topic-content{
	float: left;
	width: 100%;
	padding:0 25px;
	margin-bottom: 20px;

	p{
		float: left;
		width:100%;	
		color:$gray;
		font:{
			size:$fs-16px;
			family:$lato-font;
			weight:$light;
		}
	}
}

.published-holder{
	float: left;
	width: 100%;
	border-top:1px solid $lighter-gray;
	border-bottom:1px solid $lighter-gray;
	padding:15px;

	font:{
		size:$fs-14px;
		family:$lato-font;
		weight:$regular;
	}
	
	p{
		float: left;
		color:$gray;
		font:{
			size:$fs-14px;
			family:$lato-font;
			weight:$regular;
		}
	}
	
	a{
		margin-left: 10px;
		position: relative;

		&:before{
			content:'|';
			position: relative;
			float: left;
			margin-right: 10px;
			@include transition(all 300ms ease);
		}
		@include transition(all 300ms ease);

		&:hover{
			color:$orange;
			&:before{
				color:$blue;
			}

		}
	}

	a,
	span{
		float: right;
		color:$blue;
	}
	.icon-reply{
		margin-right: 5px;
		font-size: $fs-20px;
  		top: 0;
	}
	
}

.user-img{
	float: left;
	width: 42px;
	margin-right: 25px;
}

.new-post{
	position: relative;
	float: left;
	width: 100%;
	padding: 20px 25px;
	border-top:1px solid $lighter-gray;
	background-color:$footer-gray;

	.post-content{
		float: left;
	}
	
	.user-img{
	}
	.post-holder{
		float: left;
		position: relative;
		width: 450px;
	}

	.input-holder{
		background-color:white;
		resize: vertical;
		padding:10px 45px 10px 10px;
		overflow-y: scroll !important;
		max-height:300px;
		margin-bottom: 0;
		width: 100%;
	}

	.attachment-holder{
		position: absolute;
		top: 0;
		right:25px;
		z-index: 1;
		padding:0;
		border:none;

		.icon-attach{
			top:15px;
		}
	}

	

	.btn-orange{
		visibility: hidden;
	}
}


.comments--holder{
	float: left;
	position: relative;
	width: 100%;
	padding:25px;
	background-color: $footer-gray;

	.posted-cooment {
	  float: left;
	  position: relative;
	  border-top: 1px solid #cccccc;
	  margin-top: 25px;
	  padding-top: 25px;

	  &:first-child{
	  	padding-top: 0;
	  	margin-top: 0;
	  	border:none;
	  }
	}

	.posted-content{
		float: left;
		width: 85%;
		color:$gray;
		font:{
			size:$fs-16px;
			family:$lato-font;
		}
		 

		h1{
			float: left;
			margin-bottom:10px;
			width: 100%;
			span{
				font:{
					size:$fs-14px;
					weight:$light;
				}
			}
		}

		p{
			font-weight: $light;
			position: relative;
			float: left;
		}

		.read-more{
			float: right;
			margin-top: 15px;
			font:{
				size:$fs-14px;
				family:$lato-font;
			}
			color:$gray;
			@include transition(all 300ms ease);
			&:hover{
				color:$orange;
			}
		}
	}
}

.attached-files{
	float: left;
	margin-top: 15px;
	color:$orange;
	
	&:hover{
		.icon{
			@include rotate(-90deg);
		}
	}

	.icon,
	.file-qt{
		float: left;
		margin-right: 5px;
		@include transition(all 300ms ease);
	}
	font:{
		size:$fs-14px;
		family:$lato-font;
		weight:$light;
	}
}
.read-more:active .expand-comment{
	display:block;
}

.expand-text{
	overflow: hidden;
}


.more-comments{
	float: left;
	display: none;
	width: 100%;
	@include transition(all 300ms ease);

	img{
		@include scale(0);
		@include opacity(0);
		@include transition(all 300ms ease);
		@include translateY(-10px);
	}
	div{
		@include scale(0);
		@include opacity(0);
		@include trans-delay(100ms);
		@include transition(all 300ms ease);
		@include translateY(10px);
	}
}
.slideDown{
	@include transition(all 300ms ease);
	img{
		@include trans-delay(100ms);
		@include scale(1);
		@include opacity(1);
		@include translateY(0px);
	}
	div{
		@include trans-delay(200ms);
		@include scale(1);
		@include opacity(1);
		@include translateY(0px);
	}
}

.short{
	height:40px;
}
.full{
	height:auto; 
	@include transition(height 300ms);
}


.file-holder{
	display: none;
	float: left;
	width: 100%;
	border:1px solid $lighter-gray;
	border-radius:5px;
	padding:10px;
	margin: 10px 0;
 

	.icon{
		color:$gray; 
		top:3px;
	}

	.icon-photo-1,
	.icon-doc{
		float: left;
		margin-right: 10px;
		@include transition(all 300ms ease);
	}
	.file-name{
		float: left;
		color:$gray;
		width: 85%;
		@include transition(all 300ms ease);
		&:hover{
			color:$orange;
		}
	}
	.icon-close-2{
		float: right;
		display: block;
		@include transition(all 300ms ease);
		&:hover{
			@include rotate(90deg);
			color:$orange;
		}
	}


}







/* ===================== */

.data-page,
.data-certificate{

	overflow: hidden;
	background-color: $footer-gray;

	.search-engine.expand-search{
		top:90px;
	}

	.course-header{
		margin-bottom: 0;
	}

	.footer{
		margin-top: 0;
		border-top: 0;
	}

	.course-details{
		margin-top: 0;
		padding-bottom: 150px;
	}

	.course-title{
		a{
			float: left;
			font:{
				size:$fs-20px;
				family:$aleo-regular;
			}
			width: auto;
			margin-right: 30px;
			&:last-child{
				margin-right: 0;
			}
			color:$lighter-gray;

			&:hover{
				color:$orange;
			}
		}
		.active{
			float: left;
			position: relative;
			padding-bottom: 20px;
			color:$orange;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom:-1px;
				height: 4px;
				width: 100%;
				background-color: $orange;
			}
		}
	}

	.data-aside{
		float: left;
		width: 170px;
		background-color: $blue;
		padding:30px 20px;
		text-align: center;

		h1{
			color:white;
			float: left;
			font:{
				size:$fs-26px;
				family:$lato-font;
				weight:$regular;
			}
			margin-bottom: 90px;
		}

		.profile-img{
			width: 120px;
			margin:0 auto 150px;
		}
		.change-prof--img{
			color:$lighter-gray;
			float: left;
			font:{
				size:$fs-16px;
				family:$aleo-regular;
			}
			.icon{
				float: right;
				color:$lighter-gray;
			}
		}
	}
}



.data-form--holder {
	position: relative;
	float: left;
	width: 690px;
	margin-left: 20px;

	

}

.personal-data-form{
	float: left;
	width: 100%;

	.btn-save{
		float: right;
		width: 100px;
	}

	.checkbox-holder{
		float: left;
		width: 100%;
		margin-top: 30px;
		color:$gray;
		font:{
			size:$fs-14px;
			family:$lato-font;
			weight:$light;
		}
	}
}

.data-box{
	float: left;
	width: 100%;
	margin-top: 30px;


	::-webkit-input-placeholder { color: $gray; }
	:-moz-placeholder { color: $gray; }
	::-moz-placeholder { color: $gray; }
	:-ms-input-placeholder {  color: $gray; }

	&:first-child{
		margin-top: 0;
	}

	h1{
		float: left;
		color:$blue;
		font:{
			size:$fs-20px;
			family:$aleo-regular;
		}
		margin-bottom: 20px;
	}

	.input-box{
		float: left;
		margin-bottom:15px;
		width: 100%;

		h2{
			float: left;
			width: 100%;
			margin-bottom: 10px;
			color:$lighter-blue;
			font:{
				size:$fs-14px;
				family:$aleo-regular;
			}
		}

		&:last-child{
			margin-bottom: 0;
		}

		.input-holder{
			float: left;
			width: 100%;
			padding:0 10px;
			height: 40px;
			line-height: 40px;
			border:1px solid $gray;
			color:$gray;
			background-color: transparent;
			border-radius: 5px;
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$regular;
			}
		}
	}

	.input-50{
 		float: left;
		width: 335px / 690px * 100%;
		margin-right:20px / 690px * 100%;
		&:last-child{
			margin-right: 0;
		}
	}
	.input-33{
		float: left;
		
		.input-holder{
			width: 104px;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}

	.input-100{
		float: left;
		width: 100%;
	}
}


/* ========================================= */

.data-certificate{
	.btn-save{
		margin-top:40px;
	}
	.data-box {
		.input-box{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	
}

.doc-select{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url("../img/icons/top-icon.jpg");
	background-repeat: no-repeat;
	background-position: right;
}

/* ========================================= */

.pay-page{

	overflow: hidden;
	background-color:white;


	.pay-holder{
		position: relative;
		float: left;
		width: 100%;
		margin-top:20px;

		&:nth-of-type(1){
			.pay-holder--box{
				margin-top: 0;
				border:none;
			}
		}
	}

	.pay-holder--box{
		position: relative;
		float: left;
		width: 100%;

		h2{
			color:$lighter-blue;
			font:{
				size:$fs-16px;
				family:$aleo-regular;
			}
		}

		.data-box{
 			
 			margin-top: 10px;
			.input-box{
				.input-holder{
					font:{
						size:$fs-14px;
						family:$aleo-light;
					}
				}	
			}
			
			.input-min{
				width: 125px;
				margin-right: 15px;
				float: left;
			}
			.input-med{
				width: 224px;
				margin-right: 15px;
				float: left;
			}
			.input-med-2{
				width: 322px;
				float: left;
			}
			.input-big{
				width: 462px;
				margin-right: 15px;
				float: left;

				&:nth-of-type(2){
					margin-right: 0;
				}
			}

			.checkbox-list{
				float: left;
				width: 100%;
				li{
					float: left;
					margin-left: 50px;
					&:first-child{
						margin-left: 0;
					}
				}
			}
			.checkbox-holder{
				float: left;
				margin-bottom: 15px;
				clear: both;
				font:{
					size:$fs-14px;
					family:$lato-font;
					weight:$light;
				}
				color:$gray;
				label{
					margin-left: 5px;
				}
			}

			.dados-fac--confirm{
				float: left;
				width: 100%;
				li{
					float: left;
					width: 100%;
					margin-top:10px;
					&:first-child{
						margin-left: 0;
					}

					h2{
						font-size:$fs-20px;
						span{
							margin-left: 20px;
						}
					}
				}
			}
		}

		.vertical-align--holder{
			height: 40px;
			margin-bottom: 40px;
		}
		.checkbox-holder.vertical-align{
			@include vertical_align;
			margin-right: 15px;
			margin-bottom: 0;
		}

		.apply-code{
			padding:0px 15px;
			line-height: 38px;
			color:white;
			float: left;
			border:1px solid $blue;
			background-color: $blue;
			border-radius:5px;
			margin-left: 10px;
			@include transition(all 300ms ease);
			&:hover{
				background-color:white;
				color:$blue;
			}

		}
		
		article{
			position: relative;
			float: left;
			width: 100%;
			padding:30px 0px;
			border-top:1px solid $lighter-gray;
			border-bottom: 1px solid $lighter-gray;
		}
	}

	.pay-details--holder{
		float: left;
		position: relative;
		width: 100%;
		padding:50px 0;
	}

	.pay-progress{
		float: left;
		position: relative;
		width: 100%;
		margin-bottom: 75px;
	}

	.pay-progress--holder{
		float: left;
		width: 100%;
		position: relative;
		text-align: center;

		li{
			display: inline-block;
			position: relative;
			
			.circle{
				display: inline-block;
				position: relative;
				background-color:$lighter-gray;
				height: 50px;
				line-height: 50px;
				color:white;
				width: 50px;
				border-radius: 50%;
			}
			
			.desc{
				position: absolute;
				bottom: -25px;
				width: 200px;
				left: 50%;
				margin-left: -100px;
				color:$lighter-gray;
				font:{
					size:$fs-14px;
					family:$aleo-regular;
				}
			}
			
			&:first-child,
			&:last-child{
				&:before{
					content: '';
					position: absolute;
					height: 1px;
					width: 265px;
					top:50%;
					background-color: $lighter-gray;
				}
			}

			&:first-child{
				&:before{
					right: 52px;
				}
			}
			&:last-child{
				&:before{
					left: 52px;
				}
			}

			&:nth-of-type(2){
				margin:0 125px;
				&:after,
				&:before{
					content: '';
					position: absolute;
					height: 1px;
					width: 125px;
					top:50%;
					background-color: $lighter-gray;
				}
				&:after{right:52px;}
				&:before{left:52px;}
			}
		}

		.active{
			.circle{background-color: $orange;}
			.desc{color:$orange;}
		}
		
	}


	.btn-orange{
		width: 120px;
		margin-top: 50px;
		float: right;
	}
	

}






.mb-pay--holder{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 60px;

	.h2-pp{
		float: left;
		width: 100%;
		text-align: center;
		padding: 0px 25px 10px;
		border-bottom:1px solid $lighter-gray;
		font:{
			size:$fs-16px;
			family:$aleo-regular;
		}
		color:$orange;
	}



	.info-payment{
		float: left;
		width: 100%;
		padding: 25px 0px;
		background-color:$footer-gray;


		
		.payment-list{
			width: 100%;
			float: left;
			text-align: center;
			margin:40px auto;
		}

		.h2-cc{
			float: left;
			width: 100%;
			text-align: center;
			padding: 0px 25px 10px;
			border-bottom:1px solid $lighter-gray;
			
			h2{
				font:{
					size:$fs-16px;
					family:$aleo-regular;
				}
				color:$lighter-blue;
				float: left;
				width: 100%;

			}
		}

		.cc-holder{
			height: 120px;
			width: 33%;
			img{
				@include vertical_align;
				&:first-child{
					width: 109px;
				}

				&:nth-of-type(2){
					width: 69px;
				}
				&:last-child{
					width: 79px;
				}
			}



		}

		ul{
			display: inline-block;
			width: 350px;
			margin:0 auto;
		}
		li{
			float: left;
			width: 100%;
			margin-top: 10px;
			&:first-child{
				margin-top: 0;
			}
			h1{
				float: left;
				color:$blue;
				font:{
					size:$fs-20px;
					family:$aleo-regular;
				}
				&:last-child{
					float: right;
				}
			}
		}
	}

	.pay-holder--box{
		margin:40px auto;

		div{
			float: left;
			width: 100%;
			padding:30px;
			border-bottom: 1px solid $lighter-gray;
			text-align: center;
		}

		h2{
			width: 100%;
			border-bottom: 1px solid $lighter-gray;
			padding-bottom: 10px;
			float: left;
			text-align: center;
			color:$lighter-blue;
		}
		h1{
			@extend .h2-pp;
			padding: 0px;
			border-bottom:none;
		}
		p{
			float: left;
			width: 100%;
			margin-top: 15px;
			&:first-child{
				margin-top: 0;
			}
			color:$gray;
			font:{
				size:$fs-16px;
				family:$lato-font;
				weight:$light;
			}
			a{
				color:$gray;
				font-weight: $regular;
				text-decoration: underline;
			}
			span{
				font:{
					family:$lato-font;
					size:$fs-16px;
					weight: $regular;
				}
			}
			.bigger-span{
				font-weight: $regular;
				font-size: $fs-20px;
			}
		}

		.btn-orange{
			width: auto;
			margin: 30px auto 0;
			float: none;
			padding:0 15px;
			font:{
				family:$lato-font;
				weight:$light;
			}
		}
	}

}


.contacts-holder{
	width: 100%;
	float: left;
	background-color: $footer-gray;
	padding:30px 60px;
	h1{
		float: left;
		text-align: center;
		width: 100%;
		margin-bottom: 25px;
		color:$lighter-blue;
		font:{
			family:$aleo-regular;
			size:$fs-16px;
		}
	}

	.contacts-list{
		h1{
			text-align: left;
		}
	}
}





.mb-pay--holder.center-type{
	
	.info-payment{
		ul{
			width: auto;
		}
		li{
			margin-top: 30px;
			&:first-child{
				margin-top: 0;
			}
			h1{
				float: left;
				width: 100%;
				text-align: center;
			}

			h2{
				width: 100%;
				float: left;
				margin-top:40px;
				text-align: center;
				color: $lighter-blue;
			}

			span,
			p{
				width: 100%;
				float: left;
				margin-bottom:5px;
				text-align: center;
				font:{
					size:$fs-16px;
					family:$lato-font;
				}
				color:$gray;
			}
			p{
				font-weight:$light;
				margin-bottom: 0;
			}
		}
	}


}


.remove-border{
	border:none !important;
}









 








