///*------------------------------------*\
//    #FOOTER
//\*------------------------------------*/

.home-page{
	footer{
		margin-top: 0;
	}
}


footer{
	position: relative;
	float: left;
	width: 100%;
	padding:30px;
	margin-top:65px;
	background-color: $footer-gray;
	border-top:1px solid white;
	overflow: hidden;

	h1{
		color:$orange;
		float: left;
		width: 100%;
		font:{
			size:$fs-14px;
			family:$aleo-bold;
		}
		margin-bottom: 20px;
	}

	ul{
		float: left;
		width: 100%;
		position: relative;
		li{
			float: left;
			position: relative;
			margin-bottom: 5px;
			margin-right: 15px;
			width: 170px / 940px * 100%;

			a{
				color:$gray;
				font:{
					size:$fs-14px;
					family:$lato-font;
					weight:$light;
				}
				&:hover{
					color:$orange;
					text-decoration: underline;
				}
			}

			&:first-child{
				width: 500px / 940px * 100%;
				ul{
					width:30%;
					margin-right: 3%;
					&:last-child{margin-right: 0;}

					li{
						width: 100%;
					}
				}
			}
			&:last-child{
				margin-right: 0;
				width: 240px / 940px * 100%;
				ul{
					width: 100%;
					margin-bottom: 20px;
					li{
						width: auto;
						margin-right: 10px;
						&:first-child{width: auto;}
						&:last-child{margin-right: 0;}
					}
					.icon{
						float: left;
						font-size: $fs-16px;
						text-align: center;
						color:white;
						background-color: $orange;
						height: 30px;
						line-height: 30px;
						width: 30px;
						border-radius: 100%;
						@include transition(all 300ms ease-In-Out);
						&:hover{
							background-color:white;
							color:$orange;
						}
					}
				}
				.newsletter-form{
					position: relative;
					float: left;
					.icon-mail-2{
						position: absolute;
						top: 50%;
						margin-top: -12px;
						left: 10px;
						color:$gray;
						font-size:$fs-18px;
					}
					.input-style{
						border:1px solid $gray;
						height: 35px;
						line-height: 35px;
						padding:0 30px 0 35px;
						background-color: transparent;
						border-radius:5px;
						width: 190px;
						float: left;
						color:$gray;
						font:{
							size:$fs-14px;
							family:$aleo-light;
						}
					}
					.icon-arrow-right{
						height: 35px;
						line-height: 35px;
						float: left;
						background-color: $orange;
						color:white;
						top:0;
						width: 30px;
						font:{
							size:35px;
						}
						margin-left: 5px;
						border-radius: 5px;
						text-align: center;
						@include transition(all 300ms ease);
						&:hover{
							background-color:white;
							color:$orange;
						}
					}

					.icon-arrow-right:before {
					  content: "b";
					  margin-left: -1px;
					  position: relative;
					  top: -1px;
					}
					::-webkit-input-placeholder {color:$gray;}
					:-o-placeholder {color:$gray;}
					::-moz-placeholder {color:$gray;}
					:-ms-input-placeholder {color:$gray;}
				}

			}


			ul{ width: 100%;
				li{
					width: 100%;
					padding:0px; 
					&:first-child{width: 100%;}
				}
			}
		}
	}

	.border{
		padding:0 15px;
		ul{
			li:nth-of-type(1),
			li:nth-of-type(2){
				a{
					font-weight: $bold;
				}
			}
		}
		

		&:before,
		&:after{
			content: '';
			position: absolute;
			height: 400px;
			width: 2px;
			top:-30px;
			background-color: white;
		}
		&:before{left:0px;}
		&:after{right:0px;}
	}

	
}












