///*------------------------------------*\
//    #HEADER
//\*------------------------------------*/
 
header{
	
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 90px;
	z-index: 100;
	float: left;
	background-color: white;
	box-shadow: 0px 0px 10px -3px black;
	@include transition(all 300ms ease-In-Out);

	.main{
		height: 90px;
		@include transition(all 300ms ease-In-Out);
	}

}

.logo{
	float: left;
	width: 149px;
	@include vertical_align;
	@include transition(all 300ms ease-In-Out);
}


.translate{
	
	height: 70px;
	background-color: rgba(white, 0.95);
	
	.show-search--box{
		margin:20px 20px 0 0;
	}

	.main{height: 70px;}
	.logo{width: 130px;}
	
	.main-nav,
	.log-nav{margin-top:30px;}
	
	.loged-nav{
		margin-top:20px;
	}
}


.main-nav{
	float: right;
	margin-top: 40px;
	margin-right: 30px;
	@include transition(all 300ms ease-In-Out);

	li{
		float: left;
		position: relative;
		a{
			color:$gray;
			font:{
				size:$fs-16px;
				family:$aleo-regular;
			}
			@include transition(all 300ms ease);
			&:hover{
				color:$orange;
			}
		}
		.active{color:$orange;}

	}
	.drop-down{
		
		margin-right: 40px;

		.drop-down--btn{
			position: relative;
			padding-right: 20px;
			float: left;

			&:after, &:before{
				content: '';
				position: absolute;
				right: 0;
				bottom: 4px;
				background-color: $gray;
				height: 8px;
				width: 2px;
				@include transition(all 300ms ease);
			}
			&:before{
				@include rotate(-45deg);
				right: 5px;
			}
			&:after{
				@include rotate(45deg);
			}

		}
		.drop-down--btn.toggled-menu{
			color:$orange;
			&:after, &:before{background-color: $orange;}
			&:after{@include rotate(-45deg);}
			&:before{@include rotate(45deg);}
		}
	}	
}


.log-nav{
	float: right;
	margin-top: 40px;
	@include transition(all 300ms ease-In-Out);

	li{
		position: relative;
		display: inline-block;
		margin-right: 5px;
		padding-right: 10px;
		font:{
			size:$fs-15px;
			family:$lato-font;
			weight: $regular;
		}

		&:after{
			content: '|';
			position: absolute;
			right: 0;
			top:0;
			font:{
				size:$fs-16px;
			}
		}
		a{
			color:$blue;
			@include transition(all 300ms ease);
			&:hover{
				color:$orange;
			}
			
		}
		&:last-child{
			margin-right: 0;
			padding-right: 0;
			font-weight: $bold;
			&:after{display: none;}
		}
	}
}

.loged-nav{
	@extend .log-nav;
	margin-top:30px;

	li{
		&:after{
			display: none;
		}
	}
}




.drop-down--menu{
	
	@include box-sizing;
	@include transition(all 300ms ease-In-Out);
	@include opacity(0);

	z-index: 10;
	visibility: hidden;
	position: absolute;
	left: 50%;
	margin-left: -420px;
	top: 75px;
	width: 840px;
	background-color: white;
	border:1px solid $light-gray;

	.menu-wrap{
		padding: 20px;
	}

	&:after{
		@include rotate(45deg);
		content: '';
		position: absolute;
		left: 50%;
		margin-left: -10px;
		top: -11px;
		width: 20px;
		height: 20px;
		border-top: 1px solid $light-gray;
		border-left: 1px solid $light-gray;
		background: white;
	}
	
	h1{
		font:{
			size:$fs-16px;
			family:$aleo-bold;
		}
		color:$orange;
		padding-bottom:10px;
		margin-bottom: 20px;
		border-bottom: 1px solid $orange;
	}

	ul{
		float: left;
		width: 32%;
		margin-right: 2%;
		li{
			float: left;
			width: 100%;
			margin-bottom:10px;
			a{
				font:{
					size: $fs-14px;
					family: $lato-font;
					weight: $regular;
				}
				border-bottom: 1px solid white;
				color:$gray;
				&:hover{
					color:$orange;
					border-color:$orange;
				}
			}
			&:last-child{margin-bottom: 0;}
		}

		&:last-child{
			margin-right: 0;
			li:last-child{
				margin-top: 28px;
				a{
					font-weight: $bold;
				}
			}
		}
	}
	
}


.show-drop-down{
	@include opacity(1);
	top:80px;
	visibility: visible;
}



/* SEARCH */




.search-engine{
	position: fixed;
	left:0;
	top:-150px;
	width: 100%;
	height: 150px;
	z-index: 90;
	text-align: center;
	background: rgba($blue, 0.90);
	@include transition(all 300ms ease);

	.form-holder{
		@include vertical_align;
		width: 665px;
		margin:0 auto;
		color:white;
		text-align: left;

		form{
			position: relative;
			width: 100%;
			margin-bottom: 15px;
			float: left;

			.input-style{
				position: relative;
				float: left;
				width:555px;
				height: 45px;
				line-height: 45px;
				background-color: transparent;
				color:white;
				border:1px solid white;
				border-radius: 5px;
				padding:10px 40px;
				font:{
					size:$fs-18px;
					family:$aleo-light;
				}
			}
			
		}
		a{
			display: inline-block;
			position: relative;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
			color:white;
			font:{
				size:$fs-14px;
				family:$lato-font;
			}
			.icon{
				top:5px;
				font-size:$fs-18px;
			}
			@include transition(all 300ms ease);
			&:hover{
				color:$orange;
				.icon{
					color:$orange;
				}
			}
		}
	}

}

.icon-search1{
	position: absolute;
	width: 20px;
	top:50%;
	margin-top: -10px;
	left:10px;
}

.show-search--box{
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
	margin:30px 30px 0 0;
	border-radius: 5px;
	background: rgba($blue, 0.6);
	@include transition(all 300ms ease);

	.icon-search1{
		  @include vertical_align;
		  margin-top:-2px;
	}

	&:hover{
		background: rgba($blue, 1);
	}
}

.show-search--box.show-search--box--active{background: rgba($blue, 1);}

.search-engine.expand-search{top:70px;}


.search-result{
	float: left;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 45px;
	h1{
		color:$blue;
		float: left;
		width: 100%;
		margin-bottom: 10px;
		font:{
			family:$aleo-regular;
			size:$fs-24px;
		}
	}
	p{
		font:{
			size:$fs-18px;
			family:$aleo-light;
		}
		color:$gray;
		float: left;
		width: 100%;
	}
	a{
		font-family: $aleo-regular;
		text-decoration: underline;
		color:$gray;
		&:hover{
			color:$orange;
		}
	}
}



























