{>"layouts/application" /}

{<section-page }
  details-page
{/section-page}


{<content}
    <div class="banner" style="background-image: url({img_base_url}{course.g_1920x1085})">
        
    </div>

      <main class="main">

        <section class="course-details">

          {?promo}
            <img src="/img/formadores/promo.png" alt="Promoção" class="promo-course">
          {/promo}

          <article class="course-header">
            
            <div class="course-title"> 
              <h1>{course.nome}</h1>
            </div>

            <div class="course-favorite">
              <a href="#" class="btn-orange">Inscreva-se neste curso</a>
              <a href="#" class="add-favorite"><span class="icon icon-star"></span>Marcar como favorito</a>
            </div>

          </article>
        

          <article class="course-detail--holder">

            
            <div class="course-detail--holder_box">
              <h2>Resumo</h2>
              {course.e.cnt_resumo|s}
            </div>

            <div class="course-detail--holder_box">
              <h2>Objectivo</h2>
              {course.e.cnt_objectivo_geral|s}
            </div>

            <div class="course-detail--holder_box">
              <h2>Competências a desenvolver</h2>             
              {course.e.cnt_objectivos_especificos|s}
            </div>


            <div class="course-detail--holder_box">
              <h2>Destinatários</h2>
                {course.e.cnt_destinatarios|s}
            </div>

            <div class="course-detail--holder_box">
              <h2>Programa</h2>
              {course.e.cnt_programa|s}
            </div>

            <div class="course-detail--holder_box">
              <h2>Funcionamento</h2>
              {course.e.cnt_funcionamento|s}
            </div>

            <div class="course-detail--holder_box">
              <h2>Requisitos</h2>
              {course.e.cnt_requisitos|s}
            </div> 

            <a href="#" class="btn-orange">Inscreva-se neste curso</a>

          </article>


          <!-- ASIDE -->

          <aside class="course-detail--aside">
            
            <div class="course-detail--aside_box">

              <h2>Detalhes do curso</h2>
              <ul class="clearfix">
                <li>
                  <p> <span class="icon icon-price"></span>
                    {?promo}
                      <span class="promo-course--price">{promoPrice}</span> 
                    {/promo}
                    {course.preco_original}
                  </p>
                </li>
                <li>
                  <p><span class="icon icon-date"></span> de 18 de Janeiro a 8 de Fevereiro de 2015</p>
                </li>
                <li>
                  <p><span class="icon icon-lessons"></span>{course.n_aulas} aulas</p>
                </li>
                <li>
                  <p><span class="icon icon-time"></span>{course.n_horas} horas</p>
                </li>
              </ul>
            </div>


            <div class="course-detail--aside_box">

              <h2>Formador</h2>
              <ul class="clearfix photo-holder">
                <li>
                  <img class="photo-forma" src="/img/formadores/ana-rita-xavier.png" alt="Ana Rita Xavier">
                  <p>Ana Rita Xavier</p>
                </li>
              </ul>
            </div>

            <div class="course-detail--aside_box">

              <h2>Próximas Datas</h2>
              <ul class="clearfix">
                <li>
                  <p>- de 18 de Janeiro a 8 de Fevereiro de 2015</p>
                  <p>- de 10 de Fevereiro a 3 de Março de 2015</p>
                  <p>- de 2 a 23 de Março de 2015</p>
                  <p>- de 22 de Março a 12 de Abril de 2015</p>
                </li>
              </ul>
            </div>

            <div class="course-detail--aside_box course-sugestion--holder">

              <h2>Próximas Datas</h2>
              <ul class="clearfix">
                <li>
                  <img src="/img/formadores/course-sugestion.jpg" alt="">
                  <img src="/img/formadores/course-sugestion-2.jpg" alt="">
                </li>
              </ul>
            </div>

  
          </aside>

        </section> 

    </main>
{/content}